@page
@model WebClient.Pages.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<div class="row">
    <div class="col" text-center>
        <h1>ОШИБКА 404 ДОБАВЬТЕ СПЕРВА ЗАДАНИЕ</h1>
        <h5>не забудь вставить рофельную картинку</h5>
    </div>
</div>